{% extends 'base.html' %}


{% block start %}


<div class="container-fluid p-5">
    <div class="row">

        <div class="col-sm-3">
        </div>

        <div class="col-sm-6">
            <h1">Forgotten your password?</h1>
            <p>Enter your e-mail address to obtain a new password.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p class="mb-2"><input class="btn btn-success" type="submit" value="Send email"></p>
            </form>
        </div>
        
        <div class="col-sm-3">
        </div>
                
</div>



{% endblock %}