{% extends 'base.html' %}
{% block title %} Login {% endblock %} 
{% load static %}
{% block start %}

<div class="container text-bg-dark  p-5" style="background-image: url('/static/images/back.jpg'); background-position: left;">
    <form method="post" class=" card shadow-lg text-bg-dark p-5 ms-auto me-auto " style=" width: 500px; ">

        {% csrf_token %}
        {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
            {{message}}
            {% endfor %}
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" name="username" class="form-control">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control">
        </div>

        <p>Don't have an Acount ? <a href="{% url 'signup_page' %}" style="color: red;">Signup here</a></p>
        <p>Forget Password ? <a href="{% url 'reset_password' %}" style="color: red;">Reset Password?</a></p>
        
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>


{% endblock %}