{% extends 'base.html' %}


{% block title %} Registration {% endblock %} 
{% block start %}
{% load static %}
<script src="{% static 'global.js' %}"></script>

<!-- 
<div class="container-fluid  ">
   
</div> -->
<div class="container-fluid" style="background-image: url('/static/images/back.jpg'); background-position: center;">
    {% csrf_token %}

    <!-- {% if messages %}
    <div class="alert alert-danger  alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% endfor %}
    </div>
    {% endif %} -->


    <div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4 p-2">
            <form method="post" class=" card shadow-sm p-5" >
                <h4 style="text-align: center; background-color: rgb(26, 119, 122); color: white; padding: 10px;">Add New Employee
                </h4>
                {% csrf_token %}

                {{forms}}
                <button type="submit" class="btn btn-success mt-3" onclick="employeeRegistration()">Submit</button>
            </form>
        </div>

        <hr>

        <div class="col-sm-4">
        </div>

        

    </div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</div>
{% endblock %}